html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    padding-top: 100px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.default-form {
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.default-form1 {
    width: 45%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; 
}

    .styled-table th, .styled-table td {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .styled-table th {
        background-color: #512888;
        color: white;
    }

    .styled-table tr:last-child td {
        border-bottom: none;
    }

    .styled-table tr:nth-child(even) {
        background-color: #f3f3f3;
    }

.form-group1 {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

    .form-group1 label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group1 input {
        flex-grow: 1;
        margin-right: 10px;
        width: 150%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

        .form-group1 input:focus {
            outline: none;
            border-color: #4800ff;
        }

.submit-button1 {
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #512888;
    color: white;
    cursor: pointer;
}

    .submit-button1:hover {
        background-color: #0056b3;
    }


.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

        .form-group input:focus {
            outline: none;
            border-color: #4800ff;
        }

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #512888;
    color: white;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #0056b3;
    }

.course-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .course-section h2 {
        color: #333;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .course-section ul {
        list-style: none;
        padding: 0;
    }

    .course-section li {
        padding: 5px 0;
        border-bottom: 1px solid #eee;
    }

        .course-section li:last-child {
            border-bottom: none;
        }

#container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
    .b {
        width: 30px;
        background-color: aqua
    }

.card {
    border: 2px solid #cccccc;
    padding: 10px;
    width: 45%;
    background-color: mediumpurple;
}

h2 {
    text-align: center;
}
