@page
@model EnrollmentApplication.Pages.FriendsModel
@inject DataAccess DataAccessService
@{
    ViewData["Title"] = "Friends";

    <header>
        <link rel="stylesheet" type="text/css" href="site.css" />
        <style>
            table {
                border: 1px black;
            }
        </style>
    </header>
    <body>
        <div class="default-form">
            <h2>Friends List</h2>
            <table class="styled-table">
                <tr>
                    <th>Name</th>
                    <th>Grade</th>
                </tr>
                @foreach (var c in Model.StudentFriends)
                {
                    <tr>
                        <td>@c.FullName</td>
                        <td>@c.Grade</td>
                    </tr>
                }
            </table>

        </div>
    </body>
}

