@page
@model EnrollmentApplication.Pages.My_TermModel
@inject DataAccess DataAccessService
@{
    ViewData["Title"] = "My Term";
}


<header>
    <h1>@Model._myTermStudent.FirstName, @Model._myTermStudent.Grade</h1>
</header>
<body>
    <div id="container">
        <div class="card">
            <h2>Fall 20</h2>
            <ul>
                <li><button>Math 221</button></li>
                <li><button>CIS 300</button></li>
                <li><button>CHM 230</button></li>
                <li><button>Add Course...</button></li>
            </ul>
        </div>

        <div class="card ">
            <h2>Recommendations</h2>
            <ul>
                <!-- List recommendations here -->
                <li>Recommended Course 1</li>
                <li>Recommended Course 2</li>
                <li>Recommended Course 3</li>
                <!-- Add more list items as needed -->
            </ul>
        </div>
    </div>
</body>