@page
@model EnrollmentApplication.Pages.My_TermModel
@inject DataAccess DataAccessService
@{
    ViewData["Title"] = "My Term";
}


<header>
    <h1>@Model._myTermStudent.FirstName, @Model._myTermStudent.Grade</h1>
</header>
<body>
    <div id="container">
        <div class="card">
            <form method="post">
                <h2>Fall 20</h2>
                <ul class="list-unstyled">
                    <li><button class="btn btn-primary btn-block">Math 221</button></li>
                    <li><button class="btn btn-primary btn-block">CIS 300</button></li>
                    <li><button class="btn btn-primary btn-block">CHM 230</button></li>
                    <li><button class="btn btn-secondary btn-block">Add Course...</button></li>
                </ul>
            </form>
        </div>

        <div class="card ">
            <form>
                <h2>Recommendations</h2>
                <ul>
                    <!-- List recommendations here -->
                    <li>Recommended Course 1</li>
                    <li>Recommended Course 2</li>
                    <li>Recommended Course 3</li>
                    <!-- Add more list items as needed -->
                </ul>
            </form>
        </div>
    </div>
</body>