@page
@model EnrollmentApplication.Pages.My_TermModel
@inject DataAccess DataAccessService
@{
    ViewData["Title"] = "My Term";
    <header>
        <link rel="stylesheet" type="text/css" href="site.css" />
        <style>
            table {
                border: 1px black;
            }
        </style>
    </header>
    <body>
        <div class="default-form">
            <form method="post">
                <h3>Add class:</h3>
                <div class="form-group1">
                    <input type="text" name="newCourse">
                    <button class="submit-button1" name="add">add</button>
                    <button class="submit-button1" name="remove">remove</button>
                </div>
            </form>
        </div>
    </body>
    <body>
        <div class="default-form">
            <table class="styled-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                @foreach (var c in Model.PrettyCourses)
                {
                    <tr>
                        <td>@c.PrettyId</td>
                        <td>@c.PrettyName</td>
                    </tr>
                }
            </table>

        </div>
    </body>
}
